<% var title = 'Boot - Login' %>
<% include header %>

<%- errorMsg %>
<form action="/login" method="post">
    <input name="username" type="text" placeholder="username"><br>
    <input name="password" type="password" placeholder="password"><br>
    <input type="submit" value="Login">
</form>

<% include footer %>
